##ignore this file##
*.pyc
/config/config.ini
/config/environment.yaml
/logs/*.log
/.idea/
/testcases/geckodriver.log
/report/*.html
/testcase/__pycache__/
/pages/__pycache__/
/report/__pycache__/
/util/__pycache__/
/screenshots/*.png
/screenshots/*.jpg
/testcase/.pytest_cache