##ignore this file##
/*.pyc
/config/config.ini
/config/environment.yaml
/logs/*.log
/.idea/
/report/*.html
/testcase/__pycache__/
/pages/__pycache__/
/report/__pycache__/
/util/__pycache__/
/screenshots/*.png
/screenshots/*.jpg
/testcase/.pytest_cache
/report/html/
/testcase/.pytest_cache/